.header-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background);
  border: 0 solid #e2e8f0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 12px 4px var(--background);
}

.header-navigation-navbar {
  padding: 0.33rem;
  width: 100%;
  max-width: 980px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  @media(max-width: 850px){
    flex-flow: row;
    justify-content: space-between;
  }

}

.brand-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .66rem;

  @media(max-width: 850px){
    border-radius: 50%;
    border: 1px solid var(--border);
    box-shadow: -6px -6px 16px var(--lightShadow), 6px 6px 16px var(--darkShadow);
  }

  cursor: pointer;
  &:hover{
    svg{
      opacity: 1;
      transform: translateY(-4px);
    }
  }

  svg{
    width: 4rem;
    height: 4rem;
    opacity: .88;
    transition: all ease 300ms;
    height: 100%;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  opacity: .8;
  width: 100%;

  @media(max-width: 850px){
    display: none;
  }

  &:hover{
    a{
      opacity: .5;
    }
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: opacity 300ms ease;
    display: flex;
    align-items: center;
    color: var(--text);
    opacity: 0.88;
    text-decoration: none;
    // margin: 0 2rem;
    width: fit-content;
    height: 2rem;
    &:hover {
      opacity: 1;
      &::before {
        opacity: 1;
      }
    }
  }
}

