.sidenav{
  position: absolute;
  left: 100%;
  top: 0;
  width: 175px;
  height: 100vh;
  visibility: hidden;
  transition: left ease 300ms;
  
  &::before{
    transition: filter ease 300ms;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--background);
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    filter: blur(0px);
  }
  
  @media(max-width: 850px){
    visibility: visible;
  }

  &.open{
    left: calc(100% - 175px);
    &::before{
      filter: blur(33px);
    }
  }
}

.menu-tab{
  position: absolute;
  right: 100%;
  top: 16px;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
  
  @media(max-width: 850px){
    border: 1px solid var(--border);
    box-shadow: -6px -6px 16px var(--lightShadow), 6px 6px 16px var(--darkShadow);
    width: calc(4rem + .66rem);
    height: calc(4rem + .66rem);
    // padding: .66rem;
  }

  &:hover{
    svg{
      opacity: 1;
      transform: translateY(-2px);
    }
  }
  svg{
    opacity: .88;
    transition: all ease 300ms;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
  }
  &.open{
    cursor: default;
    svg{
      display: none;
    }
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    border: none;
    box-shadow: none;

  }
}

.sidenav-links{
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;

  a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 1.33rem 0;
    margin: 1rem 0;
    color: var(--text);
    text-decoration: none;
    &:hover{
      &::before{
        background: var(--mid-trans);
      }
    }
    &::before{
      transition: filter ease 300ms, background ease 300ms;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      // box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
      filter: blur(4px);
    }
    .icon{
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1rem;
      // margin-right: 1rem;
      svg{
        width: 100%;
        height: 100%;
      }
    }
    .label{
      width: 100%;
      text-align: center;
    }
  }
}