.HomePage {
  width: 100%;
  max-width: 1100px;
  margin: 3rem auto;
}

.page-content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0.33rem 1.66rem;
}

.hero {
  position: relative;
  min-height: 250px;
  min-height: fit-content;
  padding: 1rem;
  width: 100%;
  margin-top: 188px;
  margin-bottom: 6rem;
  border-radius: 12px;
  color: var(--text);
  transition: margin-top ease 300ms;

  .brand-name {
    font-size: 2.6rem;
    margin-bottom: 0rem;
  }

  .hero-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .brand-summary {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .join-list {
    display: block;
    margin-top: 0.5rem;
    color: inherit;
    font-size: 1.3rem;
    font-weight: 500;
    // font-weight: bold;
    text-decoration: underline;
  }

  .visual {
    position: relative;
    opacity: 1;
    min-width: 100px;
    max-width: 7rem;
    width: 100%;
    margin: 1rem 3rem;
    margin-bottom: 2rem;

    .content {
      position: absolute;
      width: 100%;
      display: flex;
      height: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      svg {
        width: 100%;
        height: 100%;
      }
    }

    &::after {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  @media (max-width: 850px) {
    position: relative;
    margin-top: 88px;
  }

  @media (max-width: 973px) {
    .text-container {
      width: 100%;
    }
  }
}

.info-columns {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  @media (max-width: 850px) {
    flex-flow: column;
    align-items: center;
  }
}

.column1,
.column2 {
  position: relative;
  max-width: 48%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 850px) {
    max-width: 480px;
  }
}

.column-item {
  position: relative;
  opacity: 1;
  width: 100%;
  // background: var(--mid-trans);
  min-height: 420px;
  border-radius: 12px;
  margin-bottom: 68px;
  color: var(--text);
  border: 1px solid var(--border);

  box-shadow: -6px -6px 16px var(--lightShadow), 6px 6px 16px var(--darkShadow);

  .item-content {
    box-sizing: border-box;
    padding: 3rem;
    min-width: 100px;
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h3 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.15rem;
    }

    .visual {
      position: relative;
      height: 7rem;
      width: 100%;
      opacity: 1;
      min-width: 100px;
      max-width: 10rem;
      margin: 0 auto;
      margin-top: 1rem;

      .visual-content {
        position: absolute;
        width: 100%;
        display: flex;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      &::after {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.info-rows {
  display: flex;
  flex-flow: column;
}

.info-row {
  width: 100%;
  min-height: 200px;
  height: fit-content;
  border-radius: 12px;
  margin: 1rem 0;
  margin-top: 1.3rem;
  padding: 1rem;
  color: var(--text);
  border: 1px solid var(--border);

  box-shadow: -6px -6px 16px var(--lightShadow), 6px 6px 16px var(--darkShadow);

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.15rem;
  }

  .visual {
    position: relative;
    opacity: 1;
    min-width: 100px;
    max-width: 7rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    .content {
      position: absolute;
      width: 100%;
      display: flex;
      height: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      svg {
        width: 100%;
        height: 100%;
      }
    }

    &::after {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
}

.waitlist-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-waitlist {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.66rem;
  height: 3rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: -6px -6px 16px var(--lightShadow), 6px 6px 16px var(--darkShadow),
    6px 15px 4px var(--mid-trans);
  border: 1px solid var(--border);
  opacity: 0.88;
  transition: all ease 300ms;
  cursor: pointer;

  &:hover {
    background: var(--lightShadow);
    opacity: 1;
  }
}

.gradient,
.gradient,
.gradient {
  position: absolute;
  width: 63%;
  height: 87%;
  border-radius: 50%;
  filter: blur(84px);
  opacity: 0.66;
  background-size: cover;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    var(--hue1) 0%,
    var(--hue2) 21.9%,
    var(--hue3) 35.6%,
    var(--hue4) 53.9%,
    var(--hue5) 66.8%,
    var(--hue6) 95%,
    var(--hue7) 99.9%
  );
  z-index: -2;
}
.g1 {
  right: -37%;
  transform: skewY(10deg);
}
.g2 {
  left: -37%;
  transform: skewY(17deg);
  opacity: 0.6;
  filter: blur(67px);
}
.g3 {
  // left: -37%;
  right: -55%;
  transform: skewY(21deg);
  opacity: 0.6;
  filter: blur(67px);
}
