// @import'./reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700,900&display=swap');
@import'reset.scss';

:root{
  --background: #efeeee;
  --lightShadow: rgba(255, 255, 255, .5);
  --border: rgba(255, 255, 255, .3);
  --darkShadow: rgba(209, 205, 199, .5);
  --text: #333;
  --mid: #333;
  --mid-trans: rgba(51, 51, 51, .066);

  --hue1: #a3a7a5;
  --hue2: #b4b7b6;
  --hue3: #d0d4d7;
  --hue4: #d9dddf;
  --hue5: #b4b7b6;
  --hue6: #c5c7c6;
  --hue7: #d5d7d6;
}

html{
  scroll-behavior: smooth;
}

body{
  background: var(--background);
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}